@import '../../utils/colors.scss';

.page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    cursor: pointer;
    padding-bottom: 20px;

    .active {
        background-color: $darkColor;
        color: $lightColor;
        padding: 5px 10px;
        border-radius: 50%;
    }
    
    .disable {
        visibility: hidden;
    }
}

