@import '../../utils/colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    background-image: url("https://images.unsplash.com/photo-1595123550384-b81222e23cf9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==&auto=format&fit=crop&w=1887&q=80");
    height: 100vh;
    width: auto;
    object-fit: contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .login-overlay {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .login {
            background-color: rgba(0, 0, 0, 0.8);
            width: 60%;
            height: 65vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;

            .login-header {
                color: $lightColor;
            }
        }

        .login-form-container {

            height: auto;

            .login-form-items {
                display: grid;
                gap: 5px;
                padding: 10px 50px;

                .login-input-container {
                    display: flex;
                    flex-direction: row;
                    /* justify-content: center; */
                    /* align-items: center; */
                    padding: 6px 10px 6px 10px;
                    border-radius: 20px;
                    background-color: #ffffff;
                    gap: 10px;

                    .login-eye-icon-container {
                        // width: 100%;
                        color: $darkColor;
                        cursor: pointer;
                        width: fit-content;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .login-text {
                    color: $lightColor;
                    font-weight: normal;
                }

                input {
                    padding: 6px 10px 6px 10px;
                    border-radius: 20px;
                    border: none;
                    outline: none;
                }
            }

            .login-btn {
                width: fit-content;
                margin: 0 auto;
                padding: 6px 20px;
                border-radius: 2px;
                border: none;
                margin-top: 20px;
                font-size: 16px;
            }
        }
    }


}