@import '../../utils/colors.scss';


.button-container {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    .btn-style {
        background-color: $darkColor;
        color: $lightColor;
        font-size: 16px;
        padding: 3px 20px;
        border: none;
        // margin-top: 5px;
        text-align: center;
        // margin-top: 15px;
        border-radius: 2px;
    }
    
    .btn-style:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}
