@import '../../utils/colors.scss';

.form-container {
    display: grid;

    .form {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .form-label {
            margin-right: 5px;
            color: $darkColor;
        }

        .form-input {
            background-color: $medColor;
            padding: 8px 25px;
            border-radius: 20px;
            border: none;
            outline: none;
        }
    }
}