@import '../.././utils/colors.scss';

.list-container {
    width: 85%;
    background-color: $medColor;
    padding: 35px 45px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    gap: 30px;
    margin: 0 auto;

    .list-items {
        background-color: $lightColor;
        width: 100%;
        height: 320px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 25px 0px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px 0px;
        cursor: pointer;
        margin-top: 15px;
    }

    .image-container {
        width: 210px;
        height: 300px;

        img {
            height: 80%;
            object-fit: contain;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
            margin-top: -18px;
            margin-left: 10px;

            &:hover {
                transform: scale(1.02);
            }
        }
    }

    .list-details {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 20px;
        margin-top: -40px;

        .title {
            font-size: 22px;
        }

        .author,
        .price {
            font-size: 16px;
            color: $darkColor;
        }

        .price {
            font-weight: bold;
        }

        .star-container {
            display: flex;
            align-items: center;
            gap: 2px;
        }
    }

    .edit-delete-btn-container {
        display: flex;
        gap: 15px;
    }
}