@import '../colors.scss';

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.header-container {
    background-color: $darkColor;
    color: $lightColor;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding: 40px 90px;
    position: sticky;
    top: 0;
    z-index: 100;
}