@import '../../utils/colors.scss';

.user-container {
    padding-top: 50px;
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    background-color: $medColor;

    .heading {
        text-align: center;
    }

    .spinner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        /* Adjust height as needed */
    }


    .user-block {
        min-width: fit-content;
        display: flex;
        flex-direction: row;
        background-color: $lightColor;
        border-radius: 60px;
        padding: 15px 150px;
        gap: 190px;

        .user-items {
            display: flex;
            align-items: center;
            justify-content: space-between;
            /* Align items horizontally in a row */
            margin-bottom: 10px;
            gap: 50px;

            .text {
                font-size: 18px;
                font-weight: bold;
            }

            .userImgCircle {
                border-radius: 50%;
                margin-right: 10px;
            }
        }

        .button-container {
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-top: 20px;
        }

        .icon-container {
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
            flex: 1;
        }
    }
}