@import '../../utils/colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signup-container {
    background-image: url("https://images.unsplash.com/photo-1595123550384-b81222e23cf9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==&auto=format&fit=crop&w=1887&q=80");
    height: 110vh;
    width: auto;
    object-fit: contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 110vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .sign-up {
            background-color: rgba(0, 0, 0, 0.8);
            width: 60%;
            height: 95vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .sign-up-header {
                color: $lightColor;
            }
        }

        .form-container {
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .form-items {
                display: grid;
                gap: 5px;
                padding: 10px 50px;

                .input-container {
                    display: flex;
                    flex-direction: row;
                    /* justify-content: center; */
                    /* align-items: center; */
                    padding: 6px 10px 6px 10px;
                    border-radius: 20px;
                    background-color: #ffffff;
                    gap: 10px;

                    .eye-icon-container {
                        // width: 100%;
                        color: $darkColor;
                        cursor: pointer;
                        width: fit-content;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    input {
                        // width: 100%;
                        border: none;
                        outline: none;
                    }
                }

                .inp {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 6px 50px 6px 10px;
                    border-radius: 20px;
                    border: none;
                    outline: none;
                    background-color: $lightColor;
                    gap: 100px;
                }
            }

            .text2 {
                color: rgb(141, 141, 141);
                font-weight: normal;
                font-size: 16px;

                .link {
                    color: $lightColor;
                    text-decoration: none;
                    margin-left: 4px;
                    color: $medColor
                }
            }

            .text {
                color: rgb(255, 43, 43);
                font-weight: normal;
                width: 200px;
            }

            h4 {
                color: $lightColor;
                font-weight: normal;
            }
        }
    }

    .btn {
        width: fit-content;
        margin: 0 auto;
        padding: 6px 20px;
        border-radius: 2px;
        border: none;
        margin-top: 20px;
        font-size: 16px;
    }
}