@import './components/colors.scss';

* {
  margin: 0;
  padding: 0
}

.container {
  position: relative;
  background-color: $medColor;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1,
  p {
    padding: 10px;
  }

  .search-book {
    width: 85%;
    background-color: $medColor;
    margin: 45px auto;
    border-radius: 5px;
    border: none;
  }
}