@import './components/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  position: relative;
  background-color: $medColor;

  .search-book {
    width: 80%;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    // gap: 20px;
    
    .dropdown {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 10px;
    }
  }
}